body {
  margin: 0;
  font-family:
    "museo-sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h4 {
  color: #00216d;
}

h3 {
  padding-left: 2em;
  padding-top: 0.5em;
  color: #00216d;
}

h2 {
  padding-left: 2em;
  padding-top: 0.5em;
  color: #00216d;
  text-align: left;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #00216d; /* old IE */
  background-color: #00216d; /* Modern Browsers */
}
